<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<bean id="myFortune"
		  class="com.luv2code.spring._05_diSetterLiteralVar.HappyFortuneService">
	</bean>

	<bean id="myCoach"
		  class="com.luv2code.spring._05_diSetterLiteralVar.CricketCoach">
		  	
		  	<!-- Dependency Injection of an Object using setter method-->
		  	<property name="fortuneService" ref="myFortune" />
		  	
		  	<!-- Dependency Injection of Literal Variable using setter method -->
		  	<property name="emailAddress" value="harshil@gmail.com" />
		  	<property name="teamName" value="Indian Cricket Team" />
	</bean>

</beans>
